<!DOCTYPE html>
<html>

<body>
<main>
  <div class="container-fluid">
    <div class="row justify-content-center pt-2">
      <div class="text-center col"></div>
    </div>
    <div class="row justify-content-center p-2">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-header text-center">
            <h4>Utilisateur<span class="text-primary font-weight-bold"></span></h4>
          </div>
          <div class="card-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Civilité</label>
                  <input type="text" class="form-control" id="inputEmail4" placeholder="Civilité">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Nom</label>
                  <input type="text" class="form-control" id="inputPassword4" placeholder="Nom">
                </div>
              </div>
              <div class="form-row justify-content-end">
                <div class="form-group col-md-4">
                  <label for="inputAddress">Prénom</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="Prénom">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputEmail">Email</label>
                  <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputAddress2">Mot de passe</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Mot de passe">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputAddress3">Fonction</label>
                  <input type="text" class="form-control" id="inputAddress3" placeholder="Fonction">
                </div>
              </div>

              <div class="form-row justify-content-end">
                <div class="form-group col-md-4">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inputAddress4">
                    <label class="form-check-label" for="inputAddress4">Actif</label>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  <select class="form-control" id="roleSelect" [(ngModel)]="role" (ngModelChange)="onRoleChange()" name="role">
                    <option value="">Sélectionnez un rôle</option>
                    <option value="Consultant">Consultant</option>
                    <option value="Client">Client</option>
                    <option value="Super Client">Super Client</option>
                  </select>
                </div>
                <div class="form-group col-md-4" *ngIf="role === 'Client'">
                  <label for="inputAddress2">Entreprise</label>
                  <select class="form-control" id="entrepriseSelect" name="entreprise">
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>
              </div>

              <div class="form-row justify-content-center">
                <div class="form-group col-md-4">
                  <label for="inputAddress2">Avatar</label>
                  <input type="file" class="form-control" id="inputAddress5" placeholder="">
                </div>
              </div>
              <br>
              <div class="form-row justify-content-center">
                <div class="form-group col-md-4">
                  <button type="submit" class="btn btn-primary">Add Staff</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

</body>

</html>
